body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px 0;
    display: inline-block;
    width: 80%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Comentar o estilo existente para li */
/* nav ul li {
    display: inline;
    margin: 0 15px;
} */

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    background-color: #fafafa;
    font-size: 14px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Seletor descendente para estilizar a imagem na navegação */
nav img {
    width: 10%;
}

/* Estilizar a classe grid para usar duas colunas */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Seletor descendente para estilizar apenas as imagens na classe grid */
.grid img {
    width: 100%;
}

/* Estilizar a classe flex */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}
